
html{
  background: radial-gradient(rgb(252, 115,   156) 5%, rgb(101, 66, 197) 86%);
    /* background-repeat: no-repeat; */
    background-size:  cover;
    width: 100%;
    
}



.div{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
   
    
    
}
.div1{
    border: 9px solid rgba(93, 153, 241, 0.4);
    border-radius: 20px;
    height: 450px;
    width: 450px;
    text-align: center;
    box-shadow: 1px 15px 36px 15px rgba(0, 0, 0, 0.5);
    background: radial-gradient(rgb(115, 223, 252) 50%, rgb(139, 102, 241) 100%);
    /* background-image: url('https://assets.materialup.com/uploads/291407a5-7f57-423f-b361-9e130d2e4473/attachment.gif'); */
}

/* button  */

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    height: 50px;
    width: 250px;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }

   input{
    width: 240px;
    height: 30px;
    border-radius: 10px;
   }
   .a{
    text-decoration: none;
    font-size: 20px;
    
   }
   label{
    font-size:20px;
   }
  
   /* sign up  */

   /* body {
    padding: 0;
    margin: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  } */
  h1 {
    color: hsl(0, 0%, 28%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }
