

html{
    scroll-behavior: smooth;
  }
  
  
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  
  .img-fluid {
      
      margin-bottom: 20px !important;
      border-radius: 10px ;
  
  }
  body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
      
      
  
  
  }
  a{
    text-decoration: none;
    font-size: large;
    color:#119446;
  }
  a:hover{
    color:#fbaf32;
  }
  
  .signin {
    float: right;
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    vertical-align: middle;
    align-items: flex-start;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    gap: 0.75rem;
    color: #c4d2dc;
    background-color: #696e71;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
  }
  
  .signin:hover {
    transform: scale(1.025);
  }
  
  .signin:active {
    transform: scale(0.975);
  }
  
  button svg {
    height: 24px;
    margin-top: -4px;
    
  }
  
  
  .btn.custom-btn {
      /* padding: 12px 25px; */
      font-family: 'Nunito', sans-serif;
      /* font-size: 16px; */
      /* font-weight: 600; */
      color: #ffffff;
      background: #fbaf32;
      border: 2px solid #fbaf32;
      border-radius: 5px;
      transition: .5s;
  }
  
  .btn.custom-btn:hover {
      color: #fbaf32;
      background: transparent;
  }
  
  .btn.custom-btn:focus,
  .form-control:focus,
  .custom-select:focus {
      box-shadow: none;
  }
  
  
  /* sign up button */
  
  
  
  .btn2 {
     
      border: 1px solid rgba(221, 39, 39, 0.25) !important;
      gap: 0.75rem;
      color: #c4d2dc;
      cursor: pointer;
      
      
      transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
    }
    
    .btn2:hover {
      transform: scale(1.025);
    }
    
    .btn2:active {
      transform: scale(0.975);
    }
    
    button svg {
      height: 24px;
    }
    
    .btn2.custom-btn {
        /* padding: 12px 25px; */
        font-family: 'Nunito', sans-serif;
        /* font-size: 16px; */
        /* font-weight: 600; */
        color: #ffffff;
        background: #119446;
        border: 2px solid #fbaf32;
        border-radius: 5px;
        transition: .5s;
    }
    
    .btn2.custom-btn:hover {
        color:#119446;
        background: transparent;
    }
    
    .btn2.custom-btn:focus,
    .form-control:focus,
    .custom-select:focus {
        box-shadow: none;
    }
    
  
    /* h1 animation  */
  
  
  
    h1 {
      color: hsl(0, 0%, 28%);
      font-size: 50px;
      font-weight: bold;
      font-family: monospace;
      letter-spacing: 7px;
      cursor: pointer;
    }
    
    h1 span {
      transition: 0.5s ease-out;
    }
    h1:hover span:nth-child(1) {
      margin-right: 5px;
    }
    h1:hover span:nth-child(1):after {
      content: "'";
    }
    h1:hover span:nth-child(2) {
      margin-left: 30px;
    }
    h1:hover span {
      color: #fff;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
    }
  
  
  
  
  
    /* Button back */
  
  
  
    .bb {
      display: flex;
      height: 3em;
      width: 100px;
      align-items: center;
      justify-content: center;
      background-color: #eeeeee4b;
      border-radius: 3px;
      letter-spacing: 1px;
      transition: all 0.2s linear;
      cursor: pointer;
      border: none;
      background: #fff;
      margin-left: 10px;
      margin-top: 10px;
     }
     
     .bb > svg {
      /* margin-right: 5px; */
      margin-top: 1px;
      font-size: 20px;
      transition: all 0.4s ease-in;
     }
     
     .bb:hover > svg {
      font-size: 1.2em;
      transform: translateX(-5px);
     }
     
     .bb:hover {
      box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
      transform: translateY(-2px);
     }
  
  
     